<div class="container">
    <div class="body">
        <h2 class="text-center">SignUp</h2>
        <form #f="ngForm" (ngSubmit)="signUp(f)">
            <input ngModel name="name" #name="ngModel" type="text" class="form-control" placeholder="Your name" required>
            <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Name is required</div>
             
            <input ngModel name="email" #email="ngModel" type="email" class="form-control" placeholder="Email" required email>
            <div class="alert alert-danger" *ngIf="email.errors?.email && email.touched">This not email example@example.com</div>
            <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">email is required</div>

            <input ngModel name="password" #password="ngModel" type="password" class="form-control" placeholder="password" required minlength="6">
            <div class="alert alert-danger" *ngIf="password.errors?.required && password.touched">password is required</div>
            <div class="alert alert-danger" *ngIf="password.errors?.minlength && password.touched">password should be more six characters</div>

            <input ngModel name="confirmPassword" #confirmPasswprd="ngModel" type="password" class="form-control" placeholder="confirm password" required >
            <div class="alert alert-danger" *ngIf="confirmPasswprd.invalid && confirmPasswprd.touched">confirm passwprd is required</div>
            <div class="alert alert-danger" *ngIf="confirmPasswprd.value !== password.value && confirmPasswprd.touched">confirm passwprd not equal above password</div>

            <input ngModel name="address" #address="ngModel" type="text" class="form-control" placeholder="Address" required>
            <div class="alert alert-danger" *ngIf="address.invalid && address.touched">address is required</div>

    
            <button class="btn btn-primary" [disabled]="f.invalid || password.value !== confirmPasswprd.value">create Account</button>
    
    
        </form>
    </div>
</div>